@model List<Procedimiento>

@{
    Layout = "_TemplateUser";
    ViewData["Title"] = "Procedimientos";
}

@{
    int numeroregistros = (int)ViewData["REGISTROS"];
    int numeropagina = 1;
}


<!-- Page title -->
<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="h3 font-weight-400 mb-0 text-white">Historial Clínico</h5>
        </div>
    </div>
</div>

<div class="container">

    @if (Model != null)
    {
        <ul class="list-group list-group-horizontal" style="display: flex;justify-content: flex-end;">
            @for (int i = 1; i <= numeroregistros; i += 3)
            {
                <li class="list-group-item list-group-item-dark">
                    <a asp-controller="Usuarios"
                       asp-action="HistorialVeterinario"
                       asp-route-posicion="@i"
                       asp-route-idusuario="@Context.User.FindFirst(ClaimTypes.NameIdentifier).Value">
                        @numeropagina
                    </a>
                </li>
                numeropagina += 1;
            }
        </ul>
        <br />

        @foreach (Procedimiento item in Model)
        {
            <div class="card border">
                <!-- Card header -->
                <div class="card-header border-bottom">
                    <h4 class="card-header-title">@item.Tipo - @item.NameMascota</h4>
                </div>

                <!-- Card body START -->
                <div class="card-body">
                    <div class="row g-3" >
                        
                        <!-- Medicamentos -->
                        <div class="col-md-6">
                            <p><b>Medicamentos usados:</b> @item.Medicamentos</p>
                        </div>

                        <!-- Fecha -->
                        <div class="col-md-6">
                            <p><b>Fecha:</b> @item.Fecha.ToString("dd-MM-yyyy")</p>
                        </div>

                        <!-- Observaciones -->
                        <div class="col-md-12">
                            <p class="fs-4">Observaciones:</p>
                            <p>@item.Observaciones</p>
                        </div>

                        @if(item.Recomendaciones.Length > 3)
                        {
                            <!-- Recomendaciones -->
                            <div class="col-md-12">
                                <p class="fs-4">Recomendaciones:</p>
                                <p>@item.Recomendaciones</p>
                            </div>
                        }
                    </div>
                </div>
                <!-- Card body END -->
            </div>

            <br />
        }
    }
    else
    {

    }

</div>

